.Sys-college-layout{
  width: 100%;
  height: 780px;
  background-color: rgba(244, 244, 248, 0.3);
  padding: 90px 120px 60px;
}
.Sys-college-text1{
  width: 276px;
  height: 42px;
  font-family: PingFangTC,sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.63px;
  color: #242423;
}
.Sys-college-outline{
  display:flex;
  flex-wrap:wrap;
}
.Sys-college-table1{
  width: 100%;
  height: 60px;
  object-fit: contain;
  background-color: #008685;
  font-family: PingFangTC,sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: 0.38px;
  text-align: center;
  color: #ffffff;
}
.Sys-college-table2{
  width: 100%;
  height: 60px;
  object-fit: contain;
  background-color: #006564;
  font-family: PingFangTC,sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: 0.38px;
  text-align: center;
  color: #ffffff;
}
.Sys-college-table3{
  width: 100%;
  height: 60px;
  object-fit: contain;
  background-color: #004343;
  font-family: PingFangTC,sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: 0.38px;
  text-align: center;
  color: #ffffff;
}
.Sys-college-table1-text{
  padding:8.2% 18.3% 8.2% 24.5%;
  font-family: PingFangTC,sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.38px;
  color: #242423;
}
