
.pic-intro{
    width: 222px;
    height: 75px;
    font-family: PingFangTC,sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.38px;
    color: #ffffff;
}