.Student4Intro-p1-theme1{
    width: 360px;
    height: 60px;
    font-family: PingFangTC,sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 0.33px;
    color: #757575;
}
.Student4Intro-text-style-1{
    font-weight: 500;
    color: #242423;
}
